
.background-container-form {
  background-color: white;
  margin-top:100px !important;
}

.new-booking-container {
  margin-top:100px !important;
}

.coloring {
  background-color: white;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.30);
}


.img-properties-form {
  object-fit: contain;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 30px 30px;
}

.dimension {
  height: 254px;
  text-align: center;
  vertical-align: center;
}

.font-form {
  font-family: "JetBrains Mono", "monospace";
  color: black
}
